<!DOCTYPE html>
<html>
    <head>
        <title>Chamado</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">        
        <!-- Optional theme -->
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="js/bootstrap.min.js"></script>
        
    </head>
    <body ng-app="HelpApp">
        <div ng-controller="ChamadoController as controller">
            <h2>JAVA-PROJETO1</h2>

            <div style="border: 0px solid black;" data-ng-show="controller.chamado">
                <table border="0" class="table table-hover">
                    <tr>
                        <td><label for="chamadoId">ID: </label>
                <input type="number" id="chamadoId" data-ng-model="controller.chamado.id" disabled>
                        </td>
                    </tr>
                    <tr>
                        <td>
                <label for="assunto">Assunto: </label>
                <input type="text" id="assunto" data-ng-model="controller.chamado.assunto">
                        </td>
                     </tr>
                     <tr>
                         <td>
                <label for="mensagem">Mensagem: </label>
                <textarea rows="4" id="mensagem" data-ng-model="controller.chamado.mensagem"></textarea>
                         </td>
                     </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-success btn-xs" data-ng-click="controller.salvar()">Salvar</button>
                        <button type="button" class="btn btn-danger btn-xs" data-ng-click="controller.chamado = undefined">Cancelar</button>
                    </td>
                </tr>
                </table>
            </div>

            <div style="border: 0px solid black;" data-ng-show="!controller.chamado">
                <button type="button" class="btn btn-primary btn-xs" data-ng-click="controller.novo()">Novo Chamado</button><br>
                <br>
                <table border="0" class="table table-hover">
                    <tr class="success">
                        <th>ID</th>
                        <th>Assunto</th>
                        <th>Status</th>
                        <th>Mensagem</th>
                        <th>Opções</th>
                    </tr>
                    <tr data-ng-repeat="chamado in controller.chamados">
                        <td>{{chamado.id}}</td>
                        <td>{{chamado.assunto}}</td>
                        <td>{{chamado.status}}</td>
                        <td>{{chamado.mensagem}}</td>
                        <td>
                            <button type="button" class="btn btn-warning btn-xs" data-ng-click="controller.alterar(chamado)">Alterar</button>
                            <button type="button" class="btn btn-danger btn-xs" data-ng-click="controller.deletar(chamado)">Excluir</button>
                            <button type="button" 
                                    data-ng-show="chamado.status !== 'FECHADO'"
                                    class="btn btn-success btn-xs" data-ng-click="controller.concluir(chamado)">Concluir</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    <script src="resources/angular.js"></script>
    <script src="resources/help.js"></script>
</body>
</html>